global:
  LogLevel: "{{ .LogLevel }}"
db:
  Path: "{{ .DBPath }}"
eth2:
  BeaconNodeAddr: "{{ .BeaconNodeAddr }}"
eth1:
  ETH1Addr: "{{ .ETH1Addr }}"
p2p:
  Discovery: "{{ .Discovery }}"
  Bootnodes: "{{ .ENR }}"

ssv:
  Network: "{{ .Network }}"
  CustomNetwork:
    DomainType: "{{ .DomainType }}"
    RegistrySyncOffset: "{{ .RegistrySyncOffset }}"
    RegistryContractAddr: "{{ .RegistryContractAddr }}"
    DiscoveryProtocolID: "{{ .DiscoveryProtocolID }}"
OperatorPrivateKey: "{{ .OperatorPrivateKey }}"
SSVAPIPort: {{ .SSVAPIPort }}
Exporter: "{{ .Exporter }}"
